* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#01999c 20%, #caffdc 100%);
  background-size: cover;
  background-repeat: no-repeat;
}
#form {
  width: 95%;
  max-width: 33rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: min(5%, 5rem);
  background: linear-gradient(#caffdc 20%, #01999c 100%);
  border-radius: 10px;
  h2 {
    font-size: 2rem;
  }
  input {
    color: #fff;
    &::placeholder {
      color: #fff;
    }
    &:focus {
      outline: none;
    }
  }
  input,
  button {
    width: 100%;
    font-size: min(6vw, 1.1rem);
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background: hsl(187, 81%, 35%);
  }
  .get-otp-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      // visibility: hidden;
      font-size: min(6vw, 1.1rem);
      color: hsl(0, 94%, 35%);
    }
  }
  button {
    &:hover {
      cursor: pointer;
    }
    &.btn-get-otp {
      width: fit-content;
      border: none;
      color: hsl(0, 94%, 35%);
      background: none;
      align-self: flex-start;
      padding: 1.4rem 0;

      &:hover {
        text-decoration: underline;
      }
    }
    &.btn-register {
      background: #01b5c6;
      color: #fff;
      &:hover {
        box-shadow: 0 0 10px #01b5c6;
      }
    }
  }
}
